.task {
    
    display: flex;
    width: 360px;
    padding: 24px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #5c626d;
    border-radius: 8px;
    margin-top: 16px;
}

.text {
    margin: 0;
    color: white;
    font-size: 20px;
}

.button {
    background-color: white; 
    border: none;
    color: black; 
    padding: 8px 16px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Размер шрифта */
    margin: 4px 2px;
    cursor: pointer; /* Курсор в виде указателя */
    border-radius: 8px; /* Скругленные углы */
    transition: background-color 0.3s ease; /* Плавное изменение фона при наведении */
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.563); /* Темно-зеленый фон при наведении */
}